{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

    {% set usuario_nombre = app.session.get('usuario_nombre') %}
    {% set usuario_apellido = app.session.get('usuario_apellido') %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Visualización del Usuario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <span class="nav-link">Bienvenido, <strong>{{ usuario_nombre }}</strong> <strong>{{ usuario_apellido }}</strong></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>ApellidoPaterno</th>
                <td>{{ usuario.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>ApellidoMaterno</th>
                <td>{{ usuario.apellidoMaterno }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ usuario.dni }}</td>
            </tr>
        </tbody>
    </table>

    <center>
    <a href="{{ path('app_usuario_index') }}" class="btn btn-primary">Regresar a la Lista</a>

    <btn class="btn btn-danger">{{ include('usuario/_delete_form.html.twig') }}</btn>
    </center>
{% endblock %}
