{% extends 'base.html.twig' %}

{% block title %}Listado de Matrículas{% endblock %}

{% block body %}

    {% set usuario_nombre = app.session.get('usuario_nombre') %}
    {% set usuario_apellido = app.session.get('usuario_apellido') %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lista de Estudiantes con Cursos Matriculados</a>
            <a href="{{ path('app_usuario_index') }}" class="btn btn-warning">Usuarios</a>
            <a href="{{ path('app_lista_index') }}" class="btn btn-warning">Cursos Matriculados de Usuarios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <span class="nav-link">Bienvenido, <strong>{{ usuario_nombre }}</strong> <strong>{{ usuario_apellido }}</strong></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {# Mensajes Flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Curso</th>
            <th>Fecha de Inscripción</th>
        </tr>
    </thead>
    <tbody>
        {% for matricula in matriculas %}
            <tr>
                <td>{{ matricula.id }}</td>
                <td>
                    {{ matricula.Usuario ? matricula.Usuario.nombre ~ ' ' ~ matricula.Usuario.apellidoPaterno ~ ' ' ~ matricula.Usuario.apellidoMaterno : 'No asignado' }}
                </td>
                <td>
                    {{ matricula.Curso ? matricula.Curso.nombre : 'No asignado' }}
                </td>
                <td>
                    {{ matricula.fechaInscripcion ? matricula.fechaInscripcion|date('d/m/Y H:i:s') : 'N/A' }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No se encontraron matrículas registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

